html, body {
  width: 100%;
  line-height: 1.6;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif; }

#header {
  width: 100%;
  position: fixed; }

.p-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px; }
  .p-header_title {
    color: #f2f4f6;
    font-size: 38px;
    font-family: 'Pacifico', cursive; }

.c-menus {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #f2f4f6; }

.c-menu {
  margin-right: 40px; }
  .c-menu_link {
    display: inline-block;
    transition: all .3s;
    -webkit-font-smoothing: initial; }
  .c-menu_link:hover {
    transform: scale(1.5);
    color: #1ee3cf;
    transition: all .3s;
    text-decoration: underline; }

.p-hero {
  background-image: url("../images/hero1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .p-hero_title {
    color: #f2f4f6;
    font-size: 38px;
    font-weight: bold; }
  .p-hero_comment {
    color: #fff;
    margin-top: 20px;
    float: right; }
