html, body {
  width: 100%;
  line-height: 1.6;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif; }

.l-header {
  width: 100%; }

.p-header {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2; }
  .p-header.p-header--float {
    transition: .4s;
    background: #0d3f67;
    border-bottom: 4px solid #1ee3cf; }
  .p-header_title {
    color: #f2f4f6;
    font-size: 30px;
    font-family: 'Pacifico', cursive; }
    @media screen and (max-width: 414px) {
      .p-header_title {
        font-size: 24px; } }

.c-menus {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #f2f4f6; }
  @media screen and (max-width: 414px) {
    .c-menus {
      display: block;
      font-size: 30px;
      color: #000;
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .c-menus {
      font-size: 14px; } }

.c-menu {
  margin-right: 40px; }
  @media screen and (max-width: 414px) {
    .c-menu {
      margin-bottom: 40px;
      margin-right: 0; } }
  .c-menu_link {
    display: inline-block;
    transition: all .3s;
    -webkit-font-smoothing: initial; }
  .c-menu_link:hover {
    transform: scale(1.5);
    color: #1ee3cf;
    transition: all .3s;
    text-decoration: underline; }

.l-main {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px; }
  @media screen and (max-width: 768px) {
    .l-main {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px; } }
  .l-main__title {
    font-size: 38px;
    font-weight: bold;
    text-align: center; }

.l-footer {
  width: 100%;
  background: #0d3f67;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; }
  @media screen and (max-width: 414px) {
    .l-footer {
      font-size: 12px;
      height: 40px; } }

.c-bar {
  width: 100%;
  background: #f2f4f6;
  height: 32px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px; }
  @media screen and (max-width: 414px) {
    .c-bar {
      font-size: 14px; } }
  .c-bar__fill {
    height: 100%;
    background: #00a1a7; }
  .c-bar__tag {
    height: 100%;
    background: #1ee3cf;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 414px) {
      .c-bar__tag {
        width: 90px; } }

.c-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  width: 170px;
  border: 2px solid #1ee3cf;
  padding: 5px 0;
  border-radius: 3px;
  transition: all .5s; }
  @media screen and (max-width: 414px) {
    .c-btn {
      padding: 3px 0;
      font-size: 14px; } }
  .c-btn:hover {
    background: #1ee3cf;
    color: #fff; }
  .c-btn__submit {
    text-align: center;
    font-size: 18px;
    padding: 10px 15px;
    color: #fff;
    background: #333;
    border-radius: 5px;
    float: right;
    position: relative;
    right: 27px;
    margin-top: 20px;
    width: 120px; }
    @media screen and (max-width: 414px) {
      .c-btn__submit {
        right: 0;
        font-size: 14px;
        width: 100px; } }

.c-required {
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
  background: #ff5454;
  border-radius: 2px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  top: -2px; }
  @media screen and (max-width: 320px) {
    .c-required {
      font-size: 6px;
      padding: 3px;
      margin-left: 5px; } }

.c-option {
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
  background: #3d8ee4;
  border-radius: 2px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  top: -2px; }
  @media screen and (max-width: 320px) {
    .c-option {
      font-size: 3px;
      padding: 3px;
      margin-left: 5px; } }

.p-hero {
  background-image: url("../images/hero1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .p-hero_title {
    color: #f2f4f6;
    font-size: 38px;
    font-weight: bold;
    text-shadow: 0 0 20px rgba(227, 123, 168, 0.81), 0 0 50px rgba(0, 0, 0, 0.8); }
    @media screen and (max-width: 414px) {
      .p-hero_title {
        text-align: center;
        padding: 0 10px; } }
  .p-hero_comment {
    color: #fff;
    margin-top: 20px;
    float: right; }
    @media screen and (max-width: 414px) {
      .p-hero_comment {
        margin-right: 40px; } }

.p-about {
  width: 55%;
  box-sizing: border-box;
  padding: 0 50px 0 50px; }
  @media screen and (max-width: 768px) {
    .p-about {
      width: 100%;
      margin-bottom: 80px;
      padding: 0 20px 0; } }
  .p-about__img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transition: all .4s; }
  .p-about__img:hover {
    transition: all .4s;
    transform: scale(1.2) rotate(15deg); }
  .p-about__introduce {
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .p-about__introduce {
        text-align: center;
        font-size: 14px;
        line-height: 2.4; } }

.fab {
  font-size: 30px;
  color: #0d3f67; }

.p-skill {
  width: 45%;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .p-skill {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }

.p-blog-group {
  margin-right: -20px; }
  @media screen and (max-width: 414px) {
    .p-blog-group {
      margin-right: 0; } }

.p-blog {
  display: inline-block;
  margin-right: 20px;
  width: calc(33% - 20px); }
  @media screen and (max-width: 414px) {
    .p-blog {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px; } }
  .p-blog__hover {
    transition: .4s; }
  .p-blog__hover:hover {
    transition: .4s;
    opacity: 0.4; }
  .p-blog img {
    width: 100%;
    height: 180px; }
  .p-blog__title {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 10px; }
  .p-blog__date {
    display: inline-block;
    font-size: 12px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 3px solid #1ee3cf; }
  .p-blog__content {
    font-size: 14px; }

.p-works {
  position: relative;
  width: 33%;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .p-works {
      width: 50%; } }
  @media screen and (max-width: 414px) {
    .p-works {
      width: 100%; } }
  .p-works img {
    width: 100%;
    height: 270px; }
    @media screen and (max-width: 414px) {
      .p-works img {
        height: 240px; } }
  .p-works__cover1, .p-works__cover2 {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
    transition: all .4s ease;
    z-index: 1; }
  .p-works__cover1 {
    padding: 20px 40px;
    top: -50%; }
  .p-works:hover .p-works__cover1 {
    top: 0; }
  .p-works__cover2 {
    padding: 15px 40px 30px;
    bottom: -50%; }
    @media screen and (max-width: 414px) {
      .p-works__cover2 {
        padding: 10px 40px 0; } }
  .p-works:hover .p-works__cover2 {
    bottom: 0; }
  .p-works__title {
    margin-bottom: 10px;
    font-size: 24px; }
  .p-works__lang {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 2px solid #0d3f67; }
  .p-works__explain {
    font-size: 12px;
    margin-bottom: 10px; }

.p-contact {
  width: 60%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  background: #f2f4f6;
  padding: 20px;
  border-radius: 3px;
  vertical-align: middle;
  overflow: hidden; }
  @media screen and (max-width: 414px) {
    .p-contact {
      width: 100%; } }
  .p-contact__list {
    padding: 15px 20px; }
    @media screen and (max-width: 414px) {
      .p-contact__list {
        padding: 0;
        margin-bottom: 10px; } }
    .p-contact__list label {
      float: left;
      display: block;
      width: 38%;
      text-align: right;
      padding-right: 15px;
      line-height: 30px;
      position: relative;
      top: 2px;
      box-sizing: border-box; }
      @media screen and (max-width: 414px) {
        .p-contact__list label {
          font-size: 12px; } }
      @media screen and (max-width: 320px) {
        .p-contact__list label {
          font-size: 12px;
          padding-right: 5px; } }
    .p-contact__list input {
      display: inline-block;
      width: 60%;
      height: 30px;
      background: #fff;
      box-sizing: border-box;
      padding: 5px 10px;
      font-size: 14px;
      color: #333;
      border-radius: 4px; }
      @media screen and (max-width: 320px) {
        .p-contact__list input {
          font-size: 12px; } }
    .p-contact__list textarea {
      display: inline-block;
      width: 60%;
      height: 200px;
      background: #fff;
      padding: 5px 10px;
      box-sizing: border-box;
      font-size: 14px;
      color: #333;
      border-radius: 4px; }
      @media screen and (max-width: 320px) {
        .p-contact__list textarea {
          font-size: 12px; } }

@media screen and (max-width: 414px) {
  .p-nav-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: white;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .p-nav-menu.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

.p-menu-trigger {
  display: none;
  transition: all .4s;
  position: relative;
  width: 35px;
  height: 25px;
  z-index: 3;
  box-sizing: border-box; }
  @media screen and (max-width: 414px) {
    .p-menu-trigger {
      display: inline-block; } }
  .p-menu-trigger span {
    width: 100%;
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    height: 3px;
    background: #f2f4f6;
    position: absolute;
    left: 0;
    border-radius: 4px; }
    .p-menu-trigger span:nth-of-type(1) {
      top: 0; }
    .p-menu-trigger span:nth-of-type(2) {
      top: 11px; }
    .p-menu-trigger span:nth-of-type(3) {
      bottom: 0; }
  .p-menu-trigger.active span {
    transition: all .4s;
    background: #000; }
    .p-menu-trigger.active span:nth-of-type(1) {
      transform: translateY(10px) rotate(45deg); }
    .p-menu-trigger.active span:nth-of-type(2) {
      opacity: 0; }
    .p-menu-trigger.active span:nth-of-type(3) {
      transform: translateY(-12px) rotate(-45deg); }

.u-underline {
  width: 70px;
  height: 4px;
  background: #0d3f67;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto; }

.u-arrangement {
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 768px) {
    .u-arrangement {
      display: block; } }
  .u-arrangement__sns {
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 768px) {
      .u-arrangement__sns {
        width: 80%;
        margin-right: auto;
        margin-left: auto; } }

.u-arrangement--wrap {
  display: flex;
  flex-wrap: wrap; }

.u-bgColor {
  width: 100%;
  background: #f2f4f6; }

.u-bgColor--blue {
  background: #244a67; }

.u-white {
  color: #fff; }
  .u-white__bg {
    background: #fff; }
