// =================================
// 変数
// =================================
$color_main: #f2f4f6;
$color_sub1: #1ee3cf;
$color_sub2: #0d3f67;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_default: 'Roboto', sans-serif;

$site-width: 980px;

$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// =================================
// Foundation
// =================================
@import 'foundation/base';

// =================================
// layout
// =================================
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

// =================================
// object
// =================================

// ---------------------------------
// component
// ---------------------------------
@import 'object/component/bar';
@import 'object/component/btn';
@import 'object/component/label';

// ---------------------------------
// project
// ---------------------------------
@import 'object/project/hero';
@import 'object/project/about';
@import 'object/project/skill';
@import 'object/project/blog';
@import 'object/project/works';
@import 'object/project/contact';
@import 'object/project/nav-menu';
@import 'object/project/menu-trigger';

// ---------------------------------
// utility
// ---------------------------------
@import 'object/utility/underline';
@import 'object/utility/arrangement';
@import 'object/utility/bgColor';
@import 'object/utility/color';