// =================================
// 変数
// =================================
$color_main: #f2f4f6;
$color_sub1: #1ee3cf;
$color_sub2: #0d3f67;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_default: 'Roboto', sans-serif;

$site-width: 980px;

// =================================
// Foundation
// =================================
@import 'foundation/base';

// =================================
// layout
// =================================
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

// =================================
// object
// =================================

// ---------------------------------
// component
// ---------------------------------
@import 'object/component/bar';

// ---------------------------------
// project
// ---------------------------------
@import 'object/project/hero';
@import 'object/project/about';
@import 'object/project/skill';

// ---------------------------------
// utility
// ---------------------------------
@import 'object/utility/underline';
@import 'object/utility/flex';