.c-btn {
  display: inline-block;
  font-size: $font-size_default;
  font-weight: lighter;
  width: 170px;
  border: 2px solid $color_sub1;
  padding: $space_s 0;
  border-radius: 3px;
  transition: all .5s;
  @include mq() {
    padding: 3px 0;
    font-size: $font-size_m;
  }
  &:hover {
    background: $color_sub1;
    color: #fff;
  }
  &__submit {
    text-align: center;
    font-size: $font-size_l;
    padding: $space_m $space_l;
    color: #fff;
    background: #333;
    border-radius: 5px;
    float: right;
    position: relative;
    right: 27px;
    margin-top: $space_xl;
    width: 120px;
    @include mq() {
      right: 0;
      font-size: $font-size_m;
      width: 100px;
    }
  }
}