.c-required {
  margin-left: $space_s;
  color: #fff;
  font-size: $font-size_s;
  background: #ff5454;
  border-radius: 2px;
  padding: $space_s;
  box-sizing: border-box;
  position: relative;
  top: -2px;
  @include mq($breakpoint: ss) {
    font-size: 6px;
    padding: 3px;
    margin-left: $space_s;
  }
}

.c-option {
  margin-left: $space_s;
  color: #fff;
  font-size: $font-size_s;
  background: #3d8ee4;
  border-radius: 2px;
  padding: $space_s;
  box-sizing: border-box;
  position: relative;
  top: -2px;
  @include mq($breakpoint: ss) {
    font-size: 3px;
    padding: 3px;
    margin-left: $space_s;
  }
}