.u-arrangement {
  display: flex;
  justify-content: space-around;
  @include mq($breakpoint: md) {
    display: block;
  }
  &__sns {
    display: flex;
    justify-content: space-around;
    @include mq($breakpoint: md) {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.u-arrangement--wrap {
  display: flex;
  flex-wrap: wrap;
}