.u-arrangement {
  display: flex;
  justify-content: space-around;
  @include mq() {
    display: block;
  }
  &__sns {
    display: flex;
    justify-content: space-around;
  }
}

.u-arrangement--wrap {
  display: flex;
  flex-wrap: wrap;
}