.p-blog-group {
  margin-right: -$space_xl;
  @include mq($breakpoint: md) {
    margin-right: 0;
  }
}

.p-blog {
  display: inline-block;
  margin-right: $space_xl;
  width: calc(33% - #{$space_xl});
  @include mq($breakpoint: md) {
    display: block;
    width: 55%;
    margin: 0 auto $space_xxl;
  }
  @include mq() {
    width: 100%;
    margin-right: 0;
    margin-bottom: $space_xxl;
  }
  &__hover {
    transition: .4s;
  }
  &__hover:hover {
    transition: .4s;
    opacity: 0.4;
  }
  img {
    width: 100%;
    height: 180px;
  }
  &__title {
    font-size: $font-size_l;
    font-weight: bold;
    margin: $space_l 0 $space_m;
  }
  &__date {
    display: inline-block;
    font-size: $font-size_s;
    padding-bottom: $space_l;
    margin-bottom: $space_m;
    border-bottom: 3px solid $color_sub1;
  }
  &__content {
    font-size: $font-size_m;
  }
}