.p-works {
  position: relative;
  width: 33%;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  @include mq() {
    width: 100%;
  }
  img {
    width: 100%;
    height: 270px;
    @include mq() {
      height: 240px;
    }
  }
  &__cover1, &__cover2 {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
    transition: all .4s ease;
    z-index: 1;
  }
  &__cover1 {
    padding: $space_xl $space_3l;
    top: -50%;
  }
  &:hover &__cover1 {
    top: 0;
  }
  &__cover2 {
    padding: $space_l $space_3l $space_xxl;
    @include mq() {
      padding: $space_m $space_3l 0;
    }
    bottom: -50%;
  }
  &:hover &__cover2 {
    bottom: 0;
  }
  &__title {
    margin-bottom: $space_m;
    font-size: $font-size_xl;
  }
  &__lang {
    display: inline-block;
    font-size: $font-size_m;
    padding-bottom: $space_s;
    border-bottom: 2px solid $color_sub2;
  }
  &__explain {
    font-size: $font-size_s;
    margin-bottom: $space_m;
  }
}