#header {
  width: 100%;
  position: fixed;
}

.p-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: $space_xl;
  padding-right: $space_xl;
  &_title {
    color: $font-color_main;
    font-size: $font-size_3l;
    font-family: 'Pacifico', cursive;
  }
}

.c-menus {
  display: flex;
  align-items: center;
  font-size: $font-size_l;
  font-weight: bold;
  color: $font-color_main;
}

.c-menu {
  margin-right: $space_3l;
  &_link {
    display: inline-block;
    transition: all .3s;
    -webkit-font-smoothing: initial;
  }
  &_link:hover {
    transform: scale(1.5);
    color: $font-color_sub1;
    transition: all .3s;
    text-decoration: underline;
  }
}

